.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip:hover .text {
    display: block;
}

.text {
    position: absolute;
    background-color: var(--background-color-primary-dark);
    padding: 8px 16px;
    border-radius: 5px;
    display: none;
    font-size: 14px;
}

.text.left {
    right: 160%;
}

.text.right {
    left: 160%;
}

.text.top {
    top: -160%;
}

.text.bottom {
    bottom: -160%;
}