.button {
   border: 1.5px solid var(--border-color-primary);
   color: var(--text-color-primary);
   background-color: var(--background-color-primary-dark);
   width: 200px;
   height: 35px;
   border-radius: 5px;
   display: flex;
   gap: 7px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 200ms all;
   font-size: 14px;
}

.button:hover {
   color: var(--text-color-primary);
   border: 1.5px solid var(--border-color-primary-dark);
}

.button.primary {
   background: var(--glb-background-color-primary);
   transition: 200ms all;
}

.button.primary:hover {
   background-color: #fa0716;
}

.button.secondary {
   background-color: #00a6ff;
   color: white;
   border: none;
   width: 130px;
   transition: 200ms all;
}

.button.secondary:hover {
   background-color: #008cff;
}

.button.third {
   background-color: transparent;
   border: 2px dashed var(--border-color-primary-dark);
}

.button.third:hover {
   background-color: var(--background-color-primary-dark);
}

.button.fourth {
   background-color: var(--background-color-primary-dark);
   border: none;
}

.button.fourth:hover {
   background-color: var(--background-color-secondary);
}
