.navbar {
    position: absolute;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: calc(100% - 250px);
    height: 65px;
    border-bottom: 1.5px solid var(--border-color-primary);
}

.area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search svg {
    position: absolute;
    left: 10px;
}

.search input {
    border: 1.5px solid var(--border-color-primary);
    background-color: var(--background-color-primary-dark);
    width: 200px;
    height: 35px;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    text-align: right;
    transition: 200ms all;
}

.search input:focus {
    outline: none;
    color: var(--text-color-primary);
    border: 1.5px solid var(--border-color-primary-dark);
}

.themeSelector {
    width: 75px;
    height: 35px;
    border: 1.5px solid var(--border-color-primary);
    background-color: var(--background-color-primary-dark);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
}

.themeSelect {
    width: calc(75px / 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themeSelect.active {
    background-color: var(--background-color-secondary);
    border-radius: 5px;
}