.themeSelector {
   width: 75px;
   height: 35px;
   border: 2px solid var(--border-color-primary);
   background-color: var(--background-color-primary-dark);
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   cursor: pointer;
   padding: 3px;
}

.themeSelect {
   width: calc(75px / 2);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.themeSelect.active {
   background-color: var(--background-color-secondary);
   border-radius: 8px;
}


@media screen and (max-width: 768px) {
   .themeSelector {
      display: none;
   }
}