.navbar {
   padding: 20px;
   width: 850px;
   margin: auto;
}

.body {
   display: flex;
   align-items: center;
   gap: 15px;
}

.body img {
   width: 30px;
}

.navItem {
   cursor: pointer;
   transition: 200ms all;
   padding: 5px 10px;
   border-radius: 15px;
}

.navItem:hover {
   background-color: var(--background-color-primary-dark);
}

.openAppBtn {
   background-color: var(--background-color-primary-dark);
   border: 1.5px solid var(--border-color-primary);
   font-size: 16px;
   height: 32px;
   display: flex;
   align-items: center;
   padding: 0 15px;
   border-radius: 20px;
   cursor: pointer;
   transition: 200ms all;
}

.openAppBtn:hover {
   border: 1.5px solid var(--border-color-primary-dark);
}
