.plan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  .plan-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: var(--g-border);
    padding-bottom: 20px;

    .plan-header-section {
      display: flex;
      align-items: center;
      gap: 15px;

      .plan-header-title {
        font-size: 20px;
      }

      .plan-header-options {
        margin-left: auto;
        display: flex;
        gap: 3px;

        .plan-header-option {
          height: 28px;
          width: 28px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          cursor: pointer;
          transition: 200ms all;

          &:hover {
            background-color: var(--background-color-primary-variant);
          }
        }
      }

      .plan-header-detail {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .plan-header-label {
          font-size: 13px;
          font-weight: 500;
          opacity: 0.8;
        }

        .plan-header-date {
          height: 30px;
          background-color: var(--background-color-primary-variant);
          border-radius: 5px;
          padding: 0 10px;
          display: flex;
          align-items: center;
          font-size: 12px;
        }
      }

      .plan-header-description {
        font-size: 14px;
      }

      .plan-header-button {
        height: 30px;
        display: flex;
        align-items: center;
        background-color: var(--background-color-primary-variant);
        border-radius: 5px;
        margin-top: auto;
        padding: 0 10px;
        font-size: 12px;
        cursor: pointer;
        transition: 200ms all;

        &:hover {
          background-color: var(--background-color-secondary);
        }
      }
    }
  }
}