.plan-card {
  height: 230px;
  background-color: var(--background-color-primary-variant);
  border-radius: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;

  .plan-card-header {
    display: flex;
    justify-content: space-between;
    height: 25px;

    .plan-card-tags {
      display: flex;
      gap: 3px;

      .plan-card-tag {
        font-size: 12px;
        background-color: var(--background-color-secondary);
        height: 100%;
        padding: 0 7px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        opacity: 0.8;
      }
    }

    .plan-card-options {
      position: relative;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 200ms all;

      .plan-card-popup-trigger {
        display: flex;
        align-items: center;
        padding: 2px 4px;
        border-radius: 5px;

        &:hover,
        &.active {
          background-color: var(--background-color-secondary);
        }
      }

      .plan-card-popup {
        position: absolute;
        top: 120%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: var(--background-color-primary-variant);
        border: var(--g-border);
        border-radius: 10px;
        padding: 5px;
        z-index: 1;

        .plan-card-popup-item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          padding: 5px;
          border-radius: 5px;
          user-select: none;

          &:hover {
            background-color: var(--background-color-secondary);
          }
        }
      }
    }
  }

  .plan-card-body {
    padding: 15px 0;

    .plan-card-body-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .plan-card-body-preview {

    }
  }

  .plan-card-footer {
    position: relative;
    border-top: var(--g-border);
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .plan-card-date {
      height: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
  }
}