.planCard {
  height: 230px;
  background-color: var(--background-color-primary-variant);
  border-radius: 10px;
  padding: 14px;
  display: flex;
  flex-direction: column;

  .planCard-header {
    display: flex;
    justify-content: space-between;
    height: 25px;

    .planCard-popup-container {
      position: relative;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: 200ms all;

      .planCard-popup-trigger {
        display: flex;
        align-items: center;
        padding: 2px 4px;
        border-radius: 5px;

        &:hover,
        &.active {
          background-color: var(--background-color-secondary);
        }
      }

      .planCard-popup {
        position: absolute;
        top: 120%;
        right: 0;
        display: flex;
        width: max-content;
        flex-direction: column;
        background-color: var(--background-color-primary-variant);
        border: var(--g-border);
        border-radius: 10px;
        padding: 5px;
        z-index: 1;

        .planCard-popup-item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          padding: 5px 8px 5px 5px;
          border-radius: 5px;
          user-select: none;

          &:hover {
            background-color: var(--background-color-secondary);
          }
        }
      }
    }

    .planCard-options {
      display: flex;

      .planCard-option {
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;

        &:hover {
          background-color: var(--background-color-secondary);
        }
      }
    }
  }

  .planCard-body {
    padding: 15px 0;

    .planCard-body-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .planCard-body-preview {
    }
  }

  .planCard-footer {
    position: relative;
    border-top: var(--g-border);
    margin-top: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .planCard-date {
      height: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 12px;
    }
  }
}
