.navbar {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border-bottom: 1.5px solid var(--border-color-primary);
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

.area {
   display: flex;
   align-items: center;
   gap: 10px;
}

.area img {
   display: none;
}

.notification {
}

.settings {
}

@media screen and (max-width: 1024px) {
   .navbar {
      grid-column: 1 / 2;
      grid-row: 1;
   }

   .area img {
      display: block;
   }
}

@media screen and (max-width: 768px) {
   .notification,
   .settings {
      display: none;
   }
}

@media screen and (max-width: 525px) {
   .area {
      font-size: 14px;
   }
}
