.navbar {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: var(--glb-border);
   padding: 0 20px 0 10px;
   grid-column: var(--navbar-grid-column);
   grid-row: var(--navbar-grid-row);

   .navbar-section {
      display: flex;
      align-items: center;
      gap: 10px;

      .sidebar-show-trigger {
         position: relative;
         width: 35px;
         height: 35px;
         border-radius: 5px;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: 200ms all;

         &:hover {
            background-color: var(--background-color-primary-dark);
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .navbar-search {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
         width: 24px;
         height: 24px;
         left: unset;
      }

      input {
         width: 30px;
         height: 30px;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: transparent;
         border: transparent;

         &::placeholder {
            color: transparent;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .sidebar-show-trigger {
      &.active {
         left: -150%;
      }
   }
}