.navbar {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   border-bottom: 1.5px solid var(--border-color-primary);
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

.area {
   display: flex;
   align-items: center;
   gap: 10px;
}

.area img {
   display: none;
}

.search {
   position: relative;
   display: flex;
   align-items: center;
}

.search svg {
   position: absolute;
   left: 10px;
}

.search input {
   border: 1.5px solid var(--border-color-primary);
   background-color: var(--background-color-primary-dark);
   width: 200px;
   height: 35px;
   border-radius: 5px;
   padding: 10px 10px 10px 40px;
   text-align: right;
   transition: 200ms all;
}

.search input:focus {
   outline: none;
   color: var(--text-color-primary);
   border: 1.5px solid var(--border-color-primary-dark);
}

.themeSelector {
   width: 75px;
   height: 35px;
   border: 1.5px solid var(--border-color-primary);
   background-color: var(--background-color-primary-dark);
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   cursor: pointer;
   padding: 3px;
}

.themeSelect {
   width: calc(75px / 2);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.themeSelect.active {
   background-color: var(--background-color-secondary);
   border-radius: 8px;
}

.notification {
}

.settings {
}

@media screen and (max-width: 1024px) {
   .navbar {
      grid-column: 1 / 2;
      grid-row: 1;
   }

   .area img {
      display: block;
   }
}

@media screen and (max-width: 768px) {
   .themeSelector,
   .notification,
   .settings {
      display: none;
   }
}

@media screen and (max-width: 525px) {
   .search input {
      width: 150px;
      height: 30px;
   }

   .search svg {
      width: 18px;
      height: 18px;
   }

   .area {
      font-size: 14px;
   }
}
