.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color-primary);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  .loader-section {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;

    .loader-section-item {
      background-color: #ff2835;
      opacity: 0.25;
      animation: 1s flashAnimation infinite;
      animation-direction: alternate;
    }

    &:nth-of-type(1) {
      max-width: 18px;
    }

    &:nth-of-type(1) .loader-section-item:is(:nth-of-type(1), :nth-of-type(2)) {
      width: 18px;
      height: 9px;
      border-radius: 15px;
    }

    &:nth-of-type(1) .loader-section-item:nth-of-type(3) {
      width: 18px;
      height: 18px;
      border-radius: 100%;
    }

    &:nth-child(2) .loader-section-item:is(:nth-of-type(1), :nth-of-type(2)) {
      width: 9px;
      height: 42px;
      border-radius: 15px;
    }
  }
}

@keyframes flashAnimation {
  to {
    opacity: 1;
  }
}
