.textarea {
  color: var(--text-color-primary);
  border: 1.5px solid var(--border-color-primary);
  background-color: var(--background-color-primary-variant);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  resize: none;

  &:focus {
    outline: none;
    color: var(--text-color-primary);
    border: 1.5px solid var(--border-color-primary-variant);
  }
}
