.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: var(--background-color-third);
   backdrop-filter: blur(3px);
   z-index: 99;

   .modal-main {
      background: var(--background-color-primary);
      border: var(--g-border);
      border-radius: 10px;
      margin: auto;

      .modal-main-header {
         padding: 0 20px;
         height: 65px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         border-bottom: var(--g-border);
         box-sizing: border-box;

         .modal-main-title {
            font-size: 16px;
            text-transform: capitalize;
         }

         .modal-main-close-button {
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: var(--background-color-primary-variant);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms all;

            &:hover {
               background-color: var(--background-color-secondary);
            }
         }
      }
   }
}