.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 10px;

    .breadcrumbs-item {
        display: flex;
        align-items: center;
        gap: 10px;

        .breadcrumbs-item-text {
            font-size: 15px;
            cursor: pointer;
            opacity: 0.8;
            transition: 200ms all;

            &:hover {
                opacity: 1;
            }
        }

        .breadcrumbs-item-arrow-symbol::before {
            content: '>';
            font-weight: 500;
        }
    }

    svg {
        opacity: 0.8;
        transition: 200ms all;

        &:hover {
            opacity: 1;
        }
    }
}
