.createPlan {
    width: 880px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    user-select: none;
}

.title {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-bottom: 1.5px solid var(--border-color-primary);
    text-transform: capitalize;
}

.multiStep {
    width: 180px;
    height: 100%;
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1.5px solid var(--border-color-primary);
    box-sizing: border-box;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: var(--background-color-primary-dark);
    color: rgba(0, 0, 0, 0.32);
    font-weight: 500;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.item.active .icon {
    background-color: #00a6ff;
    color: white;
}

.text {
    height: 100%;
    color: rgba(0, 0, 0, 0.44);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.item.active .text {
    color: var(--text-color-primary);
}

.text span {
    font-size: 12px;
}

.area {
    position: relative;
    width: 100%;
}

.inputWrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.inputName {
    font-size: 14px;
}

.inputNote {
    font-size: 12px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 500px;
    max-height: 100px;
    overflow: auto;
}

.tags::-webkit-scrollbar {
    background-color: var(--background-color-primary-dark);
    width: 5px;
}

.tags::-webkit-scrollbar-thumb {
    background-color: var(--background-color-secondary);
}

.tags span {
    font-size: 12px;
    background-color: var(--background-color-primary-dark);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tags span svg {
    transition: 200ms all;
    cursor: pointer;
}

.tags span svg:hover {
    opacity: 0.7;
}

.buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 10px;
}

/* -----------------------
          Details
   ----------------------- */

.details {

}

/* -----------------------
          Theme
   ----------------------- */

.theme {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.planLogo {
    width: 100px;
}

.colors {
    all: unset;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.colors legend {
    color: var(--text-color-primary);
    font-size: 14px;
    margin-bottom: 8px;
}

.color {
    all: unset;
    width: 25px;
    height: 25px;
    background-color: greenyellow;
    border-radius: 100%;
}

.color:is(:checked, :hover){
    outline: 2px solid var(--border-color-primary);
    outline-offset: 2px;
}