.input {
   position: relative;
   display: flex;
   align-items: center;
}

.input svg {
   position: absolute;
   left: 10px;
}

.input input {
   color: var(--text-color-primary);
   border: 1.5px solid var(--border-color-primary);
   background-color: var(--background-color-primary-dark);
   width: 200px;
   height: 35px;
   border-radius: 5px;
   padding: 10px 10px 10px 40px;
   text-align: right;
   transition: 200ms all;
   font-size: 14px;
}

.input input:focus {
   outline: none;
   color: var(--text-color-primary);
   border: 1.5px solid var(--border-color-primary-dark);
}
