.image-upload {
    position: relative;
    width: 150px;
    height: 150px;
    font-size: 14px;
    margin-top: 20px;

    img {
        position: absolute;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    input {
        display: none;
    }

    .image-upload-hover {
        position: sticky;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: rgba(157, 156, 156, 0.37);
        outline: dashed var(--border-color-primary);
        outline-offset: 2px;
        border-radius: 100%;
        cursor: pointer;
        transition: 200ms all;
    }

    &:hover .image-upload-hover {
        background-color: rgba(141, 141, 141, 0.37);
        outline: dashed var(--border-color-primary-dark);
    }
}