.auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px 25px;
    height: 100%;
    gap: 10px;
}

.auth hr {
    width: 200px;
    border: 1.5px solid var(--border-color-primary);
    border-radius: 5px;
}

.auth img {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

.auth p {
    margin: 0 0 5px 0;
    font-size: 14px;
}
