@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('./normalize.css');

:root {
   --g-background-color-primary: #fd2835;
   --g-text-color-primary: #fd2835;

   --g-border: 1.5px solid var(--border-color-primary);

   --g-grid-columns: 250px 1fr;
   --g-grid-rows: 65px 1fr;
   --g-navbar-grid-column: 2 / 3;
   --g-navbar-grid-row: 1 / 2;
   --g-sidebar-grid-column: 1 / 2;
   --g-sidebar-grid-row: 1 / 3;
   --g-main-grid-column: 2 / 3;
   --g-main-grid-row: 2 / 3;
}

[data-theme='light'] {
   --text-color-primary: #373636;
   --text-color-primary-variant: rgba(55, 54, 54, 0.3);

   --background-color-primary: #fff;
   --background-color-primary-variant: #f7f7f7;
   --background-color-secondary: #efefef;
   --background-color-third: #dcdcdc9e;

   --border-color-primary: #e8e8e8;
   --border-color-primary-variant: #d5d4d4;

   --icon-color-primary: #373636;
   --icon-color-primary-variant: rgba(55, 54, 54, 0.3);
}

[data-theme='dark'] {
   --text-color-primary: #d7d7d7;
   --text-color-primary-variant: rgba(215, 215, 215, 0.3);

   --background-color-primary: #171717;
   --background-color-primary-variant: #1e1e1e;
   --background-color-secondary: #262626;
   --background-color-third: #4948480c;

   --border-color-primary: #262626;
   --border-color-primary-variant: #363636;

   --icon-color-primary: #d7d7d7;
   --icon-color-primary-variant: rgba(215, 215, 215, 0.3);
}

html,
body {
   margin: 0;
   padding: 0;

   background-color: var(--background-color-primary);
   color: var(--text-color-primary);
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

* {
   box-sizing: border-box;
}

img,
input::placeholder {
   user-select: none;
}

::-webkit-scrollbar {
   background-color: var(--background-color-primary-variant);
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--background-color-secondary);
}