@mixin section-name {
   margin-bottom: 5px;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.5px;
   opacity: 0.8;
}

.sidebar {
   position: relative;
   border-right: var(--glb-border);
   display: none;
   flex-direction: column;
   align-items: center;
   grid-column: 1 / 2;
   grid-row: 1 / 3;

   &.show {
      display: inline-flex;
   }

   .sidebar-header {
      width: 100%;
      min-height: 65px;
      padding: 0 20px;
      border-bottom: var(--glb-border);
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
         width: 24px;
         height: 24px;
      }
   }

   .sidebar-section {
      width: calc(100% - 40px);
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .sidebar-section-name {
         @include section-name;
      }

      a,
      .section-modal-trigger {
         position: relative;
         left: -8px;
         padding: 8px;
         width: 100%;
         display: flex;
         align-items: center;
         gap: 10px;
         color: var(--text-color-primary);
         font-size: 15.8px;
         text-decoration: none;
         border-radius: 5px;
         cursor: pointer;
         transition: all 200ms;

         &.active,
         &:hover {
            background-color: var(--background-color-primary-dark);
         }
      }
   }

   .sidebar-footer {
      width: calc(100% - 40px);
      min-height: 40px;
      margin: auto 0 10px 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .sidebar-footer-session {
         width: 100%;
         display: flex;
         gap: 20px;
         align-items: center;

         img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 100%;
         }

         .sidebar-footer-username {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
         }

         .sidebar-footer-logout-button {
            margin-left: auto;
         }
      }

      .sidebar-section-name {
         @include section-name;
      }
   }
}

@media screen and (max-height: 565px) {
   .sidebar {
      .sidebar-footer {
         margin: 20px 0 10px 0;
      }
   }
}
