.settings {
   width: 1024px;
   padding: 20px;
   display: flex;
   gap: 20px;
}

.area {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.area:nth-of-type(1) {
   padding: 0 20px 0 0;
   width: 180px;
   min-height: 500px;
   border-right: 1.5px solid var(--border-color-primary);
}

.actionList {
   display: flex;
   flex-direction: column;
   gap: 7px;
}

.groupName {
   font-size: 14px;
   font-weight: 500;
   opacity: 0.8;
}

.action {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 3px;
   width: 100%;
   border-radius: 5px;
}

.action:hover {
   background-color: var(--background-color-primary-dark);
}

.active {
   background-color: var(--background-color-primary-dark);
}
